<h1 class="concert-title">All my organisations</h1>
<div class="index-organisations">
  <% @organisations.each do |organisation|%>
  <div class="qr-card">
    <div class="card-left">
      <h2> <%= organisation.name %></h2>
      <p><%= organisation.presentation %></p>
    </div>
    <div class="card-center">
      <% if organisation.facebook_link.present? %>
        <%= image_tag "facebook-avis.jpeg" %>
      <%#= organisation.facebook_link %>
      <%#= link_to image_tag("image.png", :alt => "Image Description", :class => "css"), root_path %>
      <% end %>
      <% if organisation.tripadvisor_link.present? %>
        <%= image_tag "tripadvisor-avis.jpeg" %>
      <% end %>
      <% if organisation.google_link.present? %>
        <%= image_tag "google-avis.jpeg" %>
      <% end %>
      <% if organisation.yelp_link.present? %>
        <%= image_tag "yelp-avis.jpeg" %>
      <% end %>
    </div>
    <div class="card-right">
      <%= link_to "Edit", edit_organisation_path(organisation) %><br>
      <%= link_to "View", organisation_path(organisation), class: "btn btn-primary", target: "_blank" %><br>
      <%= link_to "Delete", organisation_path(organisation),
      method: :delete,
      class: "text-danger",
      data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <% end %>
</div>
<div>
  <h2>New organisation ?</h2>
  <%= link_to "Create new one", new_organisation_path, class: "btn btn-primary"%>
</div>
