<div class="row justify-content-md-center">
  <div class="col-12 col-md-6">
    <%= simple_form_for @organisation do |f| %>
      <% if @organisation.errors.any? %>
        <p class="text-danger"><%= @organisation.errors[:organisation].first  %></p>
      <% end %>
      <%= f.input :name, required: true, as: :string, label:"Name" %>
      <%= f.input :facebook_link, as: :string, label:"Facebook URL page" %>
      <%= f.input :google_link, as: :string, label:"Google Place ID" %>
      <%= f.input :yelp_link, as: :string, label:"Yelp URL page" %>
      <%= f.input :tripadvisor_link, as: :string, label:"Trip Advisor URL page" %>
      <%= f.button :submit, "Create new organisation", class: "btn-primary" %>
    <% end %>
  </div>
</div>
