<% content_for :meta_title, "#{@organisation.name} - Let a review" %>
<% content_for :meta_description, "Easy way to let a review on social plateforms like Google, Facebook, Pinterest or Yelp for #{@organisation.name}" %>

<div class="qr-card text-center">
  <h1><%= @organisation.name %></h1>
  <% if @links.length == 0 %>
    <p> Sorry, no plateform available for now.</p>
  <% elsif @links.length == 1 %>
    <p>Just a second, you will be automatically redirected...</p>
  <% else %>
    <p>Select your favorite plateform</p>
    <div class="d-flex flex-wrap justify-content-around">
      <% if @links.key?(:facebook) %>
        <%= link_to @links[:facebook] do %>
          <%= image_tag "facebook-avis.jpg" %>
        <% end %>
      <% end %>
      <% if @links.key?(:tripadvisor) %>
        <%= link_to @links[:tripadvisor] do %>
          <%= image_tag "tripadvisor-avis.jpg" %>
        <% end %>
      <% end %>
      <% if @links.key?(:google) %>
        <%= link_to @links[:google] do %>
          <%= image_tag "google-avis.jpg" %>
        <% end %>
      <% end %>
      <% if @links.key?(:yelp) %>
        <%= link_to @links[:yelp] do %>
          <%= image_tag "yelp-avis.jpg" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center mt-1">
  Powered by <a href="/">Quality Reviews</a><%= image_tag "favicon/favicon-16x16.png" %>
</div>
