<h1><%= @organisation.name %></h1>
<div class="box">
  <p><%= @organisation.presentation %></p>
  <p><%= @organisation.facebook_link %></p>
  <p><%= @organisation.tripadvisor_link %></p>
  <p><%= @organisation.google_link %></p>
  <p><%= @organisation.yelp_link %></p>
</div>

<%# if policy(@organisation).update? %>
<% if @organisation.user == current_user %>
  <p><%#= link_to 'Edit', edit_organisation_path(@organisation) %></p>

<%# if policy(@organisation).destroy? %>
  <p><%#= link_to 'Destroy', @organisation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

