<h1 class="concert-title"><%= @organisation.name %></h1>
<div class="box">
  <p><%= @organisation.presentation %></p>
  <p><%= @organisation.facebook_link %></p>
  <p><%= @organisation.tripadvisor_link %></p>
  <p><%= @organisation.google_link %></p>
  <p><%= @organisation.yelp_link %></p>
</div>
