<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <meta name="robots" content="index, follow">
  </head>
  <body class="bg-white">
    <div class="container">
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>

      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
